.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../asses/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer{
background-image: url("../asses/menu_black_24dp\ 1\ \(1\).svg");
}

.container__botao:checked~.container__rotulo{
background: var(--cor-secundaria__degrade);
}

.cabecalho {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container { 
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em ;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked ~ .lista-menu{
display: block;
}
.lista-menu__titulo, .lista-menu__item{
    background-color: var(--cor-primaria);
    padding: 1em;
}
.lista-menu__titulo{
    color: var(--cor-tercearia);
    font-weight: 700;
}
.lista-menu__link{
    background: var(--cor-secundaria__degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao, .container__titulo, .opcoes, .container__texto{
    display: none;
}


@media screen and (min-width: 1024px){
    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo{
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opcoes{
        display: flex;
    }
    .opcoes__item{
        padding: 1em;
        text-transform: uppercase;

    }
    .opcoes__item__link{
        text-decoration: none;
        color: var(--cor-quinaria);
    }
    .container__imagem__favorito, .cabecalho__menu-hamburguer, .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }
    .opcoes__botao:hover{
        background: var(--cor-secundaria__degrade);
    }

    .opcoes__botao:checked~ .opcoes__rotulo>.opcoes__item{
        background: var(--cor-secundaria__degrade);
        color: var(--cor-primaria);
    }
    .opcoes__item{
        padding: 2em;
    }
    .lista-menu__item:hover{
        background: var(--cor-secundaria__degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--cor-primaria);
        text-decoration: none;
    }
}


@media screen and (min-width: 1728px){
    .container__texto{
        display: block;
    }
    .container__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-quinaria);
   }
   .cabecalho{
    padding: 0 2em;
   }
   .opcoes{
    margin-right: auto;
   }
}